<div>
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" [(ngModel)]="username" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" [(ngModel)]="name" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><input type="text" [(ngModel)]="e_mail" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>Adress:</td>
      <td><input type="text" [(ngModel)]="address" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><input type="text" [(ngModel)]="city" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" [(ngModel)]="phone" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" [(ngModel)]="password" (keydown)="keyDown($event)"></td>
    </tr>
    <tr>
      <td>Repeat password:</td>
      <td><input type="password" [(ngModel)]="password2" (keydown)="keyDown($event)"></td>
    </tr>
  </table>
  <button (click)="registerUp()">Register Up</button>
</div>