<h1 class="headline">Wishlist</h1>
<div *ngIf="username != 'null'">
  <table class="table">
    <tr>
      <td colspan=2>Article</td>
      <td>Price</td>
    </tr>
    <tr *ngFor="let book of books">
        <td class="top left bottom padding" (click)="navigate(book.id)"><img src="./assets/{{book.image}}" class="image"></td>
        <td class="right width top bottom padding" (click)="navigate(book.id)">{{book.name}}<br>
          {{book.author}}</td>
          <td class="top right bottom padding">
            {{book.kolicina}}
            <br>
            <a (click)="moveTo(book.id)" class="hand">Move to Cart</a>
            <br>
            <a (click)="delete(book.id)" class="hand">Delete</a></td>
        <td class="top right bottom padding">{{book.total | number:'1.2'}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Total price:</td>
      <td>{{total | number:'1.2'}}</td>
    </tr>
  </table>
</div>