<h1 class="headline" (onload)="refreshUser()">Wishlist</h1>
<table *ngIf="username" class="table">
  <tr>
    <td colspan=2>Article</td>
  </tr>
  <tr *ngFor="let book of books">
      <td class="top left bottom" (click)="navigate(book.id)"><img src="./assets/{{book.image}}" class="image"></td>
      <td class="right width top bottom" (click)="navigate(book.id)">{{book.name}}<br>
        {{book.author}}</td>
      <td><button (click)="moveTo(book.id)">Add to cart</button></td>
      <td><button (click)="delete(book.id)">Delete</button></td>
  </tr>
</table>