.numberwidth{
    width: 30px;
    text-align: right;
}
.image{
    width:80px;
    height: 100px;
}
.right{
    border-right: 1px solid lightgrey;
}
.top{
   
    border-top: 1px solid lightgrey; 
}
.left{
   
    border-left: 1px solid lightgrey; 
}
.bottom{
   
    border-bottom: 1px solid lightgrey; 
}
.row{
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.width{
    width: 150px;
    text-align: left;
    vertical-align: top;
}
.headline{
    padding-left: 450px;
}
.table{
    
    padding-left: 300px;
}
.float{
    text-align: right;
}
.padding{
    padding: 10px;
}
.hand{
    cursor: pointer;
}