<div class="addtocart">
  <input type="text" [(ngModel)]="kolicina" class="width">
  <button (click)="addToCart()">Add to cart</button>
</div>
<div class="book">
  <img src="./assets/{{book.image}}">
  <p><strong>{{book.name}}</strong></p>
  <p>{{book.author}}</p>
  <p>{{book.genre}}</p>
  <p>Cena:{{book.price | number:'1.2'}} din</p>
  <p><strong>{{book.discount | number:'1.2'}} din</strong></p>
  <p>Ustedite {{usteda | number:'1.2'}} din ({{procenat}}%)</p>
  <p>Opis:</p>
  <p>{{book.description}}</p>
</div>
