<div class="link">
  <table class="main-link">
    <tr>
      <td routerLink="/">| Books |</td>
      <td *ngIf="!user" routerLink="login"> Login | </td>
      <td *ngIf="!user" routerLink="registerup">RegisterUp | </td>
      <td *ngIf="user" routerLink="user">{{user.name}} | </td>
      <td *ngIf="user" (click)="logOut()">Odjava |</td>
    </tr>
  </table>
  <br>
  <br>
  <div class="korpa">
    <table>
      <tr>
        <td routerLink="korpa"><img src="./assets/korpa.png"></td> 
        <td routerLink="korpa">Cart(<a class="blue">{{cartKolicina}}</a>)<br><a class="blue">{{cartDiscount | number:'1.2-2'}} din</a></td>
        &nbsp;
        <td routerLink="listazelja"><img src="./assets/zelje.png"> </td>
        <td routerLink="listazelja">Wishlist(<a class="blue">{{wishlistKolicina}}</a>)<br><a class="blue">{{wishlistTotal | number:'1.2'}} din</a></td>
    </tr>
  </table>
  </div>
</div>