<h1 class="headline">Cart</h1>
<div *ngIf="username != 'null'">
  <table class="table">
    <tr>
      <td colspan=2>Article</td>
      <td>Price</td>
      <td>Amount</td>
      <td>Total</td>
    </tr>
    <tr *ngFor="let book of books" class="row">
        <td class="top left bottom padding" (click)="navigate(book.id)"><img src="./assets/{{book.image}}" class="image"></td>
        <td class="right width top bottom padding" (click)="navigate(book.id)">{{book.name}}<br>
          {{book.author}}</td>
        <td class="top right bottom padding">{{book.discount?book.discount:book.price | number:'1.2'}}</td>
        <td class="top right bottom padding"><input type="number" [(ngModel)]="book.kolicina" class="numberwidth" (ngModelChange)="calculate(book.id)">
          <br>
          <a (click)="moveTo()" class="hand">Move to Cart</a>
          <br>
          <a (click)="delete()" class="hand">Delete</a></td>
        <td class="top right bottom padding">{{book.total| number:'1.2'}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Amount discount:<br>Total price:</td>
      <td>{{discount * total | number:'1.2'}} <br>{{totalDiscount | number:'1.2'}}<br>Savings: {{totalWithoutDiscount - totalDiscount | number:'1.2'}}({{(totalWithoutDiscount - totalDiscount)/totalWithoutDiscount*100| number}}%)</td>
    </tr>
  </table>
</div>