<div>
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" [(ngModel)]="username"></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input type="text" [(ngModel)]="name"></td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td><input type="text" [(ngModel)]="e_mail"></td>
      </tr>
      <tr>
        <td>Adress:</td>
        <td><input type="text" [(ngModel)]="address"></td>
      </tr>
      <tr>
        <td>City:</td>
        <td><input type="text" [(ngModel)]="city"></td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td><input type="text" [(ngModel)]="phone"></td>
      </tr>
      <tr>
        <td>Old Password:</td>
        <td><input type="password" [(ngModel)]="oldPassword"></td>
      </tr>
      <tr>
        <td>New password:</td>
        <td><input type="password" [(ngModel)]="newPassword"></td>
      </tr>
    </table>
    <button (click)="save()">Save</button>
  </div>